body {
    margin: 0 auto;
    box-sizing: border-box;
}

.btn-start-game {
    background-color: brown;
    padding: 15px 20px;
    color: mintcream;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 16px;
}

.parent-div {
    width: 100%;
    height: 100vh;
    background-color: #cecaca;
    display: block;
    position: relative;
}

.mins-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 30%;
    border: 3px solid #645d5d;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.mins-block {
    border: 2px solid #242121;
    background-color: #8b828242;
    cursor: pointer;
}

/* .mins-block.check {
    background-color: red;
} */
