body {
    margin: 0 auto;
    background-color: #322e2e;
    color: #e8d50b;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
}

li {
    list-style: none;
}

.film-list {
}
