html,
body {
    height: 100%;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: underline;
    color: black;
}

.main-section {
    flex: 1 1 auto;
}

.main-container {
    margin: 0 auto;
    width: 700px;
    border-right: 1px solid rgba(232, 232, 230, 0.8);
    border-left: 1px solid rgba(232, 232, 230, 0.8);
}

.main-container:hover {
    background-color: rgba(232, 232, 230, 0.4);
    transition: 0.3s;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* header */

.header {
}

/* card-header */

.card-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0 18px;
}
.card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card-name {
    font-weight: bold;
}
.card-surname {
}
.card-mail {
}

.card {
}

.card:hover {
    background-color: rgba(232, 232, 230, 0.4);
    transition: 0.3s;
}

.card-button-delete {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.card-button-delete:hover {
    transition: 0.3s;
    background-color: rgba(150, 221, 234, 0.5);
}

.card-button-delete > span {
    background-color: #1b1a1a;
    height: 3px;
    width: 3px;
    border-radius: 50%;
}

.card-button-delete:hover > span {
    background-color: #038dc4;
    transition: 0.3s;
}

/* card-main */
.card-main {
    cursor: pointer;
    padding-bottom: 20px;
    /* padding: 25px 0; */
}

.card-main-title {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 0 25px 0 25px;
}
.card-main-text {
    font-size: 14px;
    margin: 0;
    padding: 10px 25px;
}

/* card-footer */

.card-footer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-comments,
.card-retvit,
.card-likes,
.card-looking,
.card-share {
    display: flex;
    gap: 10px;
}
.card-comments-icon {
}
.card-comments-text {
}

.card-retvit-icon {
}
.card-retvit-text {
}

.card-likes-icon {
}
.card-likes-text {
}

.card-looking-icon {
}
.card-looking-text {
}

.card-share-icon {
}

/* footer */
.footer {
    position: sticky;
    bottom: 0;
    left: 0;
    height: 80px;
    background-color: #00acee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.footer-container {
    max-width: 900px;
}
.footer-text {
    display: flex;
    flex-direction: column;
}
.footer-title {
    font-weight: 700;
}

.footer-title,
.footer-title-desc {
    margin: 0;
    color: white;
}
.footer-buttons {
    display: flex;
    gap: 10px;
}

.footer-login {
    background-color: #00acee;
    border: 1px solid #ccc;
    padding: 10px 12px;
    border-radius: 21px;
    cursor: pointer;
}

.footer-login:hover {
    background-color: #03b6fd;
    transition: 0.2s;
}

.footer-registration {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 12px;
    border-radius: 21px;
    cursor: pointer;
}

.footer-registration:hover {
    background-color: #e0dfdf;
    transition: 0.2s;
}

.footer-login-link,
.footer-registratioin-link {
    color: white;
    font-weight: bold;
}

.footer-registratioin-link {
    color: black;
}
