body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.findForIp {
    margin-top: 40px;
    background-color: #4b49c6;
    padding: 14px 18px;
    border: 1px solid white;
    border-radius: 14px;
    color: white;
}

.findForIp:hover {
    background-color: #6462eb;
    transition: 0.3s ease;
}

.findBlock {
}
