* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 150px 20px;
    text-align: center;
}

.next,
.prev,
.wrapper-slider {
    display: inline-block;
    vertical-align: middle;
}

.next,
.prev {
    padding: 8px 13px;
    background: #beb8b8;
    color: aliceblue;
    border: 1px solid #b0a5a5;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #928989;
}

.next:hover,
.prev:hover {
    background: #d2c9c9;
    box-shadow: 1px 1px 10px 2px #b8afaf;
}

.next:active,
.prev:active {
    background: #b9b1b1;
    box-shadow: 1px 1px 10px 2px #b9b1b1;
}

.wrapper-slider {
    width: 450px;
    overflow: hidden;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 2px #03035a;
}

.slider-line {
    display: flex;
    position: relative;
    left: 0;
}

img {
    height: 300px;
    width: 450px;
    min-width: 450px;
}
