.button {
    padding: 10px 20px;
    background-color: #c84141;
    border: #c84141 solid;
    color: aliceblue;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
