body {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table {
    width: 800px;
    height: 600px;
    /* background-color: black; */
    border-spacing: 0;
}

td {
    border: 1px solid aqua;
}

.table1 td {
    background-color: white;
}

.table1 .td-active {
    background-color: black;
}

.table2 td {
    background-color: black;
}

.table2 .td-active {
    background-color: white;
}
